<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ url }}/{{ 'assets/atanazefti.png' | url }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url }}">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

  <link rel="stylesheet" href="{{ 'assets/styles.css' | url }}">

  <script src="{{ 'assets/scripts.js' | url }}"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ analytics }}');
  </script>
</head>
<body>
  {{content | safe }}
</body>
</html>
