---
layout: base.njk
---
<header>
  <h1>{{ title }}</h1>
  <div class="email"><a href="mailto:{{email}}">{{email}}</a></div>
  <div class="phone"><a href="tel:{{phone}}">{{phone}}</a></div>
</header>
<main>
  {% for work in collections.work %}
  <section style="background:{{ work.data.background }};color:{{ work.data.colour }}">
    <figure class="col-{{ work.data.images.length }}">
      {% for image in work.data.images %}
        <img src="assets/img/{{ image }}" alt="">
      {% endfor %}
      <figcaption>{{ work.data.title | safe }}, {{ work.data.year }}</figcaption>
    </figure>
  </section>
  {% endfor %}
</main>

<script>
  const scrollContainer = document.querySelector('main')

  scrollContainer.addEventListener('wheel', (evt) => {
    if (!evt.deltaY) {
      return
    }
    evt.currentTarget.scrollLeft += evt.deltaY + evt.deltaX;
    evt.preventDefault();
  })
</script>
